services:
  #################################################################
  ## Traefik Service
  #################################################################
  traefik:
    image: traefik:3.2.0-rc2
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    networks:
      - backend
      - frontend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./acme:/etc/traefik/acme
      - ./traefik-logs:/logs
    environment:
      DO_AUTH_TOKEN: ${DO_AUTH_TOKEN}
    labels:
      traefik.enable: true
      traefik.http.routers.traefik.rule: Host(`${TRAEFIK_DOMAIN}`)
      traefik.http.routers.traefik.entrypoints: web
      traefik.http.routers.traefik.middlewares: traefik-redirectscheme

      traefik.http.routers.traefik-secure.rule: Host(`${TRAEFIK_DOMAIN}`)
      traefik.http.routers.traefik-secure.entrypoints: websecure
      traefik.http.routers.traefik-secure.tls.certresolver: myresolver
      traefik.http.routers.traefik-secure.service: api@internal
      traefik.http.routers.traefik-secure.middlewares: auth

      # Define the auth middleware here
      traefik.http.middlewares.auth.basicauth.users: ${TRAEFIK_DASHBOARD_AUTHENTICATION}
      traefik.http.middlewares.auth.basicauth.realm: "Restricted Area"

      # Redirect Scheme HTTP -> HTTPS
      traefik.http.middlewares.traefik-redirectscheme.redirectscheme.scheme: https # sets the scheme to redirect to (https)
      traefik.http.middlewares.traefik-redirectscheme.redirectscheme.permanent: true # sets the redirection to permanent

      # Services
      traefik.http.services.traefik-secure.loadbalancer.server.port: 8080

      # Watchtower configuration
      com.centurylinklabs.watchtower.enable: "false" # disables Watchtower for this container


  #################################################################
  ## Database Service
  #################################################################
  db:
    image: postgres:15.3-alpine3.18
    container_name: db
    restart: unless-stopped
    networks:
      - backend
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    labels:
      com.centurylinklabs.watchtower.enable: "false"
    volumes:
      - ./data:/var/lib/postgresql/data/
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  #################################################################
  ## Rest API Service
  #################################################################
  restapi:
    image: ${DOCKER_USERNAME}/${DOCKER_REPOSITORY}:${DOCKER_TAG}
    container_name: restapi
    restart: unless-stopped
    networks:
      - frontend
      - backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - PRODUCTION=${PRODUCTION}
      - TOKEN_SECRET_KEY=${TOKEN_SECRET_KEY}
      - TOKEN_EXPIRATION_TIME=${TOKEN_EXPIRATION_TIME}
      - TOKEN_ISSUER=${TOKEN_ISSUER}
      - TOKEN_AUDIENCE=${TOKEN_AUDIENCE}
    labels:
      # Traefik configuration
      traefik.enable: true # enables Traefik for this container

      # Routers configuration
      # RedirectScheme http Router api
      traefik.http.routers.restapi.rule: Host(`${REST_API_DOMAIN}`)
      traefik.http.routers.restapi.entrypoints: web
      traefik.http.routers.restapi.middlewares: restapi-redirectscheme # applies the api-redirectscheme middleware to the api route

      # Https Router api-secure
      traefik.http.routers.restapi-secure.rule: Host(`${REST_API_DOMAIN}`)
      traefik.http.routers.restapi-secure.entrypoints: websecure
      traefik.http.routers.restapi-secure.tls.certresolver: myresolver # see below

      # Services configuration
      traefik.http.services.restapi-secure.loadbalancer.server.port: ${API_PORT} # sets the port for the api service

      # Redirect Scheme HTTP -> HTTPS
      traefik.http.middlewares.restapi-redirectscheme.redirectscheme.scheme: https # sets the scheme to redirect to (https)
      traefik.http.middlewares.restapi-redirectscheme.redirectscheme.permanent: true

      # Watchtower configuration
      com.centurylinklabs.watchtower.enable: "true" # enables Watchtower for this container

  #################################################################
  ## Watchtower Service
  #################################################################
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    labels:
      com.centurylinklabs.watchtower.enable: "false"
    networks:
      - backend
      - frontend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 1200 --cleanup --debug # checks for updates every 1200 seconds (20 min), cleans up old images, and outputs debug logs

  #################################################################
  ## Network Configuration
  #################################################################
networks:
  frontend:
    name: frontend
    driver: bridge
  backend:
    name: backend
    driver: bridge
